<div class="container">
  <div class="d flex align items center p-2 my-3">
    <div class="In-1 px-19-5-"></div>
  </div>

  <div class="container shadow-sm p-3 rounded">
    <div class="row align items-md-stretch">
      <div class="col py-3 bg-secondary">
        <h1 class="text-white">
          {{ ticket.name }}
        </h1>
      </div>
      <div class="w-100">
        <div class="col py-3 px-lg-4 bf-light">
          <label for="submitted" class="form-label"> submitted at </label>
          <br />
          {{ ticket.created_at }}
        </div>

        <div class="col py-3 px-lg-4 bf-light">
          <label for="assignee" class="form-label"> assignee </label>
          <br />
          {{ ticket.assignee_id }}
        </div>

        <div class="col py-3 px-lg-4 bf-light">
          <label for="status" class="form-label"> status </label>
          <br />
          {{ ticket.status }}
        </div>

        <div class="col py-3 px-lg-4 bf-light">
          <label for="priority" class="form-label"> priority at </label>
          <br />
          {{ ticket.priority_at }}
        </div>
      </div>
    </div>
  </div>
  <hr />
  <hr />
</div>
